@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
  background-image: url("https://previews.123rf.com/images/andreykuzmin/andreykuzmin1701/andreykuzmin170100032/70292185-old-nautical-map-background.jpg");
  /* background-image: url("https://previews.123rf.com/images/andreykuzmin/andreykuzmin1701/andreykuzmin170100032/70292185-old-nautical-map-background.jpg"); */
  font-family: "Montserrat", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

.panel {
  position: fixed;
  bottom: 0px;
  right: 0px;
  background-color: #a9a9a94f;
  margin: 1em;
  padding: 1em;
  border-radius: 1rem;
  backdrop-filter: blur(21px);
}
